*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading{
    margin: 20px 0;
    text-align: center;
}

.board{
    width: 700px;
    height: 700px;
    margin: auto;
}

.row{
    font-size: 0;
}

.white{
    width: 87.5px;
    height: 87.5px;
    background-color: #eeeed2;
    display: inline-block;
    font-size: 30px;
    padding: 25px;
}

.green{
    width: 87.5px;
    height: 87.5px;
    background-color: #769656;
    display: inline-block;
    font-size: 30px;
    padding: 25px;
}