body {
	margin: 0;
	padding: 0;
	font-size: 12px;
   
	
}
/* ===== Chosen multiple select plugin with dropdown ===== */

.chzn-container {
	position: relative;
	display: inline-block;
	zoom: 1;
*display: inline;
	-moz-box-shadow: 0 0px 0 #363B3E;
	-webkit-box-shadow: 0 0px 0 #363B3E;
	box-shadow: 0 0px 0 #363B3E;
    width:100%!important;
}
.noSearch .chzn-search, .searchDrop .selector, .noSearch .selector {
	display: none;
}
.noSearch .chzn-results {
	margin: 0!important;
	padding: 2px!important;
}
.chzn-container > .chzn-drop {
	background: #ffffff;
	border: 1px solid #cccccc!important;
	border-top: 0;
	position: absolute;
	top: 29px;
	margin-top: 2px;
	left: 0;
	z-index: 998;
	width: 98%!important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.formRight .chzn-container-multi {
	width: 98%!important;
}
.chzn-container-single .chzn-single {
	background: #ffffff;
	border: 1px solid #ccc!important;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 34px!important;
	line-height: 23px;
	padding: 7px 0 0 8px;
	color: #858585!important;
	text-decoration: none;
	 font-size:13px!important; color:#333333!important; font-family:'Open Sans'!important;
     -webkit-appearance: menulist;
box-sizing: border-box;
align-items: center;
border: 1px solid;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
white-space: pre;
-webkit-rtl-ordering: logical;
color: black;
background-color: white;
cursor: default;
}
.chzn-container-single .chzn-single span {
	margin-right: 26px;
	display: block;
	font-size: 13px;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
	display: block;
	position: absolute;
	right: 26px;
	top: 6px;
	width: 12px;
	height: 13px;
	font-size: 1px;
}
.chzn-container-single .chzn-single abbr:hover {
}
.chzn-container-single .chzn-single div {
	position: absolute;
	right: -1px;
	top: -1px;
	display: block;
	height: 28px;
	width: 27px;
}
.chzn-container-single .chzn-single div b {
	background: url(select_right.png) no-repeat center right;
	display: block;
	width: 27px;
	height: 26px;
}
.chzn-container-single .chzn-search {
	padding: 3px 4px;
	position: relative;
	margin: 0;
	white-space: nowrap;
	z-index: 1010;
}
.chzn-container-single .chzn-search input {
	margin: 1px 0;
	padding: 4px 10px 4px 5px;
	outline: 0;
	border: 1px solid #aaa;
	font-family: sans-serif;
	font-size: 13px;
	background: url(searchSmall.png) no-repeat 98% !important;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
    width:80%!important;
}
.chzn-container-single .chzn-drop {
}
.chzn-container-single-nosearch .chzn-search input {
	position: absolute;
	left: -9000px;
}
.chzn-container-multi .chzn-choices {
	margin: 0;
	cursor: text;
	overflow: hidden;
	height: auto !important;
	position: relative;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	height: 25px;
	padding: 5px;
	color: #858585!important;
	width: 98%!important;
}
.chzn-container-multi {
	width: 98%!important;
}
.chzn-container-multi .chzn-choices li {
	float: left;
	list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
	white-space: nowrap;
	margin: 0;
	padding: 0;
	width: 141px!important;
}
.chzn-container-multi .chzn-choices .search-field input {
	color: #858585;
	background: transparent !important;
	border: 0 !important;
	font-family: sans-serif;
	font-size: 13px!important;
	padding: 0px 4px 0px 4px!important;
	margin: 0;
	outline: 0;
	box-shadow: none!important;
}
.chzn-container-multi .chzn-choices .search-field .default {
	color: #999;
	width: 141px!important;
}
.chzn-container-multi .chzn-choices .search-choice {
	position: relative;
	line-height: 16px;
	font-size: 11px;
	border: 1px solid #D1D1D1;
	display: block;
	float: left;
	padding: 3px 0px 3px 8px;
	background: #999999;
	color: #ffffff;
	margin: 4px;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
max-width:150px!important;
min-width:130px!important
}
.chzn-container-multi .chzn-choices .search-choice-focus {
	background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    display: block;
    position: absolute;
    right: 6px;
    top: 8px;
    width: 10px;
    height: 10px;
    font-size: 1px;
    background: url('../../images/closeSelection.png') no-repeat 50%;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
	background-position: right -11px;
}
.chzn-container .chzn-results {
	margin: 0 4px 4px 0;
	max-height: 240px;
	padding: 0 0 0 4px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.chzn-container-multi .chzn-results {
	padding: 0;
	margin: 0;
}
.chzn-container .chzn-results li {
	display: none;
	line-height: 14px;
	padding: 5px 6px;
	margin: 0;
	list-style: none;
	font-size: 11px;
}
.chzn-container .chzn-results .active-result {
	cursor: pointer;
	display: list-item;
}
.chzn-container .chzn-results .highlighted {
	background-color: #3875d7;
	color: #fff;
}
.chzn-container .chzn-results li em {
	background: #feffde;
	font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
	background: transparent;
}
.chzn-container .chzn-results .no-results {
	background: #f4f4f4;
	display: list-item;
}
.chzn-container .chzn-results .group-result {
	cursor: default;
	color: #CDE69C;
	font-weight: bold;
	font-size: 10px;
	border-bottom: 1px solid #404040;
	border-top: 1px solid #404040;
}
.chzn-container .chzn-results .group-option {
	padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
	display: none;
}
.chzn-container .chzn-results-scroll {
	background: white;
	margin: 0 4px;
	position: absolute;
	text-align: center;
	width: 321px; /* This should be dynamic with js */
	z-index: 1;
}
.chzn-container .chzn-results-scroll span {
	display: inline-block;
	height: 17px;
	text-indent: -5000px;
	width: 9px;
}
.chzn-container .chzn-results-scroll-down {
	bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
}
.chzn-container .chzn-results-scroll-up span {
}
.chzn-container-active .chzn-single-with-drop div {
	background: transparent;
	border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
}
.chzn-container-active .chzn-choices .search-field {
	width: 141px!important;
}
.chzn-container-active .chzn-choices .search-field input {
	color: #858585 !important;
	width: 141px!important;
}
.chzn-disabled {
	cursor: default;
	opacity: 0.5 !important;
}
.chzn-disabled .chzn-single {
	cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
	cursor: default;
}
.chzn-container chzn-container-single
